$primary-color: #4056A1;
$text: "Source Sans Pro", sans-serif;
$title:'Bungee', cursive;

nav {
  background-color: $primary-color;
  color: #FFF;
  height: 120px;
  z-index: 1;
  top: 0;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  font-family: $title;
    font-size: 35px;
    color: white;
  margin: 40px 0 0 1.5em;
  position: fixed;
}

.slogan {
  font-family: $text;
  font-size: 30px;
}

#nav-btn {
  background-color: transparent;
  border: 0 transparent;
  margin-top: -15px;
}

.fa-angle-double-down {
  color: red;
  animation: float 2s ease-in-out infinite;
}

/* Animation keyframes */
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

.nav-group {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-right: 1.5em;
}
