header {
  background: url('../images/cubes.png');
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 520px;
}

.avatar {
  width: 250px;
  height: auto;
  margin-top: 170px;
}

header h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  color:#FFF;
  margin-top: -20px;
}

header h2 b {
  font-weight: 600;
}