/* Input box style */
.new-tweet {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

#tweet-text {
 
  width: 100%;

  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  
  height: auto;
  border-width: 0;
  border-bottom: 3px solid #707070;
  background-color: transparent;
}

form {
  width: 90%;
  max-width: 900px;
}

.btn-sbmt {
  background-color: #4056A1;
  color: #FFF;
  border: 0;
  font-size: 20px;
  width: 100px;
  height: 35px;
}

.btn-sbmt:active {
  transform: scale(0.98);
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
}

.chara-red {
  color: red;
}

/* Error box style */
.error {
  width: 90%;
  max-width: 900px;

  height: 60px;
  background-color: aliceblue;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
  margin: -30px auto 20px auto;
  text-align: center;
}

.fa-dizzy {
  margin-top: 5px;
}

.error p {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin: -1px 0 5px 0;
}

.error b {
  font-weight: 600;
}

.empty-sbmt {
  display: none;
}

.exceed-sbmt {
  display: none;
}

/* Tweets style */

article {
  border: 3px solid #707070;

  width: 80%;
  max-width: 900px;

  height: auto;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px auto 50px auto;
  font-family: "Source Sans Pro", sans-serif;
}

article:hover {
  box-shadow: 5px 5px #cdc6e3;
}

header.tweet-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-heade-group {
  display: flex;
  align-items: center;
}

#tweet-avatar {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

#user-name {
  font-weight: 600;
  color:lightgrey;
  justify-content: flex-end;
}

#tweet {
  word-wrap: break-word;
  flex-wrap: wrap;
  height: auto;  
  font-weight: 600;
  
}

hr {
  border: 2px solid #707070;
}

.date-icon-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#date {
  font-size: 16px;
}

.icons:hover {
  color:#c0a222;
}
