/* Input box style */
.new-tweet {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

#tweet-text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

textarea {
  width: 800px;
  height: auto;
  border-width: 0;
  border-bottom: 3px solid #707070;
  background-color: transparent;
}

.btn-sbmt {
  background-color: #4056A1;
  color: #FFF;
  border: 0;
  font-size: 20px;
  width: 100px;
  height: 35px;
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
}

.gitchara-red {
  color: red;
}

/* Tweets style */

article {
  border: 3px solid #707070;
  width: 800px;
  height: 200px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px auto 50px auto;
  font-family: "Source Sans Pro", sans-serif;
}

article:hover {
  box-shadow: 5px 5px #cdc6e3;
}

header.tweet-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-heade-group {
  display: flex;
  align-items: center;
}

.fa-user-astronaut {
  margin-right: 20px;
}

#user-name {
  font-weight: 600;
  color:lightgrey;
  justify-content: flex-end;
}


#tweet {
  display: flex;
  align-items: center;
  font-weight: 600;;
}

hr {
  border: 2px solid #707070;
}

.date-icon-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#date {
  font-size: 16px;
}

.icons:hover {
  color:#c0a222;
}